# LLM Provider
OPENAI_API_KEY=your-openapi-key-here

# STT Provider (Speech to Text)
DEEPGRAM_API_KEY=your-deepgram-key-here

# TTS Provider (Text to Speech) - Cartesia or ElevenLabs
CARTESIA_API_KEY=your-cartesia-key-here


ELEVENLABS_API_KEY=your-elevenlabs-key-here

# Redis Configuration
REDIS_URL=your-redis-url-here
