# LLM Provider
OPENAI_API_KEY=your-openapi-key-here

# STT Provider (Speech to Text)
DEEPGRAM_API_KEY=your-deepgram-key-here

# TTS Provider (Text to Speech) - Cartesia or ElevenLabs
CARTESIA_API_KEY=your-cartesia-key-here
CARTESIA_VOICE_ID=your-cartesia-voiceid-here
CARTESIA_MODEL_ID=your-cartesia-model-id-here


ELEVENLABS_API_KEY=your-elevenlabs-key-here

# Telephony Configuration (Twilio)
TWILIO_ACCOUNT_SID=your-twilio-key-here
TWILIO_AUTH_TOKEN=your-twilio-auth-token-here
TWILIO_PHONE_NUMBER=your-twilio-phone-here

# Telephony Configuration (Plivo)
PLIVO_AUTH_ID=your-plivo-authid-here
PLIVO_AUTH_TOKEN=your-plivo-auth-token-here
PLIVO_PHONE_NUMBER=your-plivo-phone-number-here
# PLIVO_MEDIA_STREAM_URL=wss://disgustfully-snoozy-rayne.ngrok-free.dev/plivo-stream
WS_SHARED_SECRET=sharyx_plivo_secret_2026

# Universal Webhook / Domain config
NGROK_DOMAIN=your-ngrok-domain-here

# Redis Configuration
REDIS_URL=your-redis-url-here
